.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: transparent !important;
    margin-bottom: 20px; /* 슬라이드와 아래 콘텐츠 사이 간격 */
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 5px;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: rgba(255, 255, 255, 0.5); /* 반투명 흰색 */
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

/* 추가: 슬라이드와 관련된 텍스트 스타일 */
.carousel-header {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* 텍스트가 슬라이드 이미지 위에 오도록 */
}

/* 아래 콘텐츠와의 간격을 위한 스타일 */
.ui.three.column.grid {
    margin-top: 30px; /* 각 섹션 간 간격 */
}

.ui.grid {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.ui.grid > .column {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

